.categoryWrapper {
  margin: 1rem 0 0 2rem;
  display: block;
  height: 10vh;
  width: 35vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.category {
  display: inline-block;
  background-color: var(--COLOR-BACKGROUND-LIGHTER);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
}
.category:hover {
  color: var(--COLOR-PRIMARY);
}
.hiddenInput {
  visibility: hidden;
}
.hiddenInput:checked + .category {
  color: var(--COLOR-PRIMARY);
}
@media only screen and (max-width: 768px) {
  .categoryWrapper {
    margin: 1rem 0.2rem;
    width: 100vw;
    overflow-x: scroll;
  }
}
