.nav {
  padding: 1rem;
}
.logowrapper {
  margin: 1rem;
  cursor: pointer;
}
.navheading {
  display: inline-block;
  font-size: 2.5rem;
}
.loginIcon {
  margin: 1rem 2rem;
  cursor: pointer;
  color: var(--COLOR-PRIMARY);
}
@media only screen and (max-width: 768px) {
  .logowrapper {
    margin: 0 1rem 0 0;
    font-size: xx-large;
  }
}
